@model IEnumerable<BlogProject.Entity.Blog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Bootstrap.LinkButton("/Blog/Create", "primary", null, "", "plus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDraft)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LikeCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDraft)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LikeCount)
            </td>
            <td width="150">
                <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modal_comment" data-blog-id="@item.Id">
                    <span class="glyphicon glyphicon-comment"></span>
                </button>

                @Bootstrap.LinkButton("/Blog/Edit/" + item.Id, "warning", "btn-xs", "Edit", "edit", null)
                @Bootstrap.LinkButton("/Blog/Details/" + item.Id, "info", "btn-xs", "Details", "search", null)
                @Bootstrap.LinkButton("/Blog/Delete/" + item.Id, "danger", "btn-xs", "Delete", "trash", null)
            </td>
        </tr>
    }

</table>
<script>
    $(function () {
        $("footer").parent().hide();
    })
</script>
@Bootstrap.ModalPopUp(id: "modal_comment", title: "Yorumlar")
<script src="~/Content/js/comment.js"></script>