@helper LinkButton(string id = "", string url = "", string color = "", string additionalCss = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" name="@id" id="@id" class="btn btn-@color @additionalCss" title="@title">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </a>
}

@helper LinkButton(string url = "", string color = "", string additionalCss = "", string title = "", string icon = "", string text = "")
{
    <a href="@url" class="btn btn-@color @additionalCss" title="@title">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </a>
}


@helper Button(string id = "", string color = "", string additionalCss = "", string typ = "button", string icon = "", string text = "")
{
    <button id="@id" name="@id" type="@typ" class="btn btn-@color @additionalCss">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </button>
}

@helper Button(string color = "", string additionalCss = "", string typ = "button", string icon = "", string text = "")
{
    <button type="@typ" class="btn btn-@color @additionalCss">
        <span class="glyphicon glyphicon-@icon"></span> @text
    </button>
}