@using BlogProject.Entity
@model User
@{
    ViewBag.Title = "Profiliniz";
}

<div class="container">

    <div class="row">
        <h2>@ViewBag.Title</h2>
    </div>

    <div class="row">
        <div class="col-md-2">            
            <img src="~/Content/img/@Model.ProfileImageFilename" class="img-circle" width="128" />
        </div>
        <div class="col-md-8">
            <h3>@(Model.Name+" "+ Model.Surname)</h3>
            <br />
            <h6><b>Username: </b>@Model.Username</h6>
            <h6><b>Email: </b>@Model.Email</h6>
            <br />
            <h6><a href="#">More... </a></h6>
        </div>

        <div class="col-md-2 text-right">
            <div class="btn-group">
                <a class="btn dropdown-toggle btn-info" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-cog">&nbsp;</span>
                    Options
                    <span class="glyphicon-cog icon-white"></span> <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("EditProfile")"><span class="glyphicon glyphicon-edit">&nbsp;</span> Modify</a></li>
                    <li><a href="@Url.Action("DeleteProfile")" onclick="return confirm('Silmek istediğinize emin misiniz?');"><span class="glyphicon glyphicon-trash">&nbsp;</span> Delete</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script>
    $(function () {
        $("footer").parent().hide();      
    });
    </script>